/* 
====== 
Fonts
======
*/
@import url("https://fonts.googleapis.com/css?family=Catamaran:300,400|Kaushan+Script&display=swap");
/* 
====== 
Variables 
======
*/
:root {
	/* --primaryColor: #9e3aa3; */
	/* --primaryDarkColor: #4e1d51; */
	--primaryColor: #f15025;
	--primaryDarkColor: #c02c03;
	--primaryFont: "Catamaran", sans-serif;
	--slantedFont: "Kaushan Script", cursive;
	--mainWhite: #fff;
	--offWhite: #f7f7f7;
	--mainBackground: #ececec;
	--mainOverlay: rgba(35, 10, 36, 0.4);
	--mainBlack: #222;
	--mainGrey: #ececec;
	--darkGrey: #afafaf;
	--mainRed: #bd0303;
	--mainTransition: all 0.3s linear;
	--mainSpacing: 0.3rem;
	--lightShadow: 2px 5px 3px 0px rgba(0, 0, 0, 0.5);
	--darkShadow: 4px 10px 5px 0px rgba(0, 0, 0, 0.5);
	--mainBorderRadius: 0.25rem;
	--maxWidth: 40rem;
	--smallWidth: 85vw;
	--fullWidth: 1170px;
}
/* 
====== 
Global Styles 
======
*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: var(--primaryFont);
	color: var(--mainBlack);
	background: var(--mainBackground);
	line-height: 1.4;
	font-size: 1rem;
	font-weight: 300;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: var(--primaryFont);
	margin-bottom: 1.25rem;
	letter-spacing: var(--mainSpacing);
}
p {
	margin-bottom: 1.25rem;
}
ul {
	list-style-type: none;
}
a {
	text-decoration: none;
	color: var(--mainBlack);
}
img {
	width: 100%;
	display: block;
}
.loading {
	text-transform: capitalize;
	text-align: center;
	font-size: 1.7rem;
	margin-top: 3rem;
	letter-spacing: var(--mainSpacing);
}
.loading img {
	width: 10rem;
	margin: 0 auto;
}
/* 
====== 
Buttons 
======
*/
.btn,
.btn-white,
.btn-primary {
	text-transform: uppercase;
	letter-spacing: var(--mainSpacing);
	color: var(--primaryColor);
	border: 2px solid var(--primaryColor);
	padding: 0.45rem 0.8rem;
	display: inline-block;
	transition: var(--mainTransition);
	cursor: pointer;
	font-size: 0.8rem;
	background: transparent;
}
.btn:hover {
	background: var(--primaryColor);
	color: var(--mainWhite);
}
.btn-white {
	background: transparent;
	color: var(--mainWhite);
	border-color: var(--mainWhite);
}
.btn-white:hover {
	background: var(--mainWhite);
	color: var(--primaryColor);
}
.btn-primary {
	background: var(--primaryColor);
	color: var(--mainWhite);
	border-color: var(--primaryColor);
}
.btn-primary:hover {
	background: transparent;
	color: var(--primaryColor);
}
.btn-block {
	width: 100%;
	display: block;
	margin: 0 auto;
	box-shadow: var(--lightShadow);
	text-align: center;
}

/* 
====== 
Header
======
*/
.header {
	padding: 2rem 0;
}

.logo {
	margin: 0 auto;
	width: 9rem;
}

.header ul {
	display: flex;
	justify-content: space-between;
	width: var(--smallWidth);
	margin: 0 auto;
	margin-top: 2rem;
	max-width: var(--maxWidth);
}

.header ul div {
	display: flex;
	align-items: center;
}

.header a {
	text-transform: capitalize;
	margin: 0 0.25rem;
	font-size: 0.85rem;
	letter-spacing: 2px;
	transition: var(--mainTransition);
}

.header a:hover {
	color: var(--primaryColor);
}

@media screen and (min-width: 768px) {
	.header a {
		font-size: 1.5rem;
		margin: 0 0.5rem;
	}
}

/* 
====== 
About
======
*/
.about-section {
	width: var(--smallWidth);
	max-width: var(--maxWidth);
	padding-top: 2rem;
	margin: 0 auto;
}

.about-section h1 {
	font-size: 2rem;
	text-transform: capitalize;
	letter-spacing: var(--mainSpacing);
	text-align: center;
	margin-bottom: 2.5rem;
}

.about-section p {
	line-height: 1.5rem;
	font-weight: 400;
}
